### project configs #############################################
# inspired by Laravel
# possible values are: dev, stage, prod
APP_ENV=dev

# name of project/folder when cloning the repo
PROJECT_NAME=

# vhost name
VIRTUAL_HOST=

# docker user. change this if you need a specific user
DOCKER_USER=docker

### python ######################################################
# https://hub.docker.com/_/python/
# ex: PYTHON_VERSION=2.7.14
PYTHON_VERSION=latest

### nginx #######################################################
# https://hub.docker.com/_/nginx/
# ex: NGINX_VERSION=1.10.3
NGINX_VERSION=latest